.wrapper {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  background-color: transparent;
}

.header {
  height: 64px;
  font-size: 24px;
  color: #efefef;
  background-color: transparent;
}

.header > img {
  margin-right: 20px;
}

.content-wrapper {
  padding: 10px 35px 30px;
  overflow-y: auto;
  background-color: transparent;
}

.footer {
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
}

.desc {
  color: #eaeaea;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1024px){
  .wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 1680px){
  .wrapper {
    width: 80%;
  }
}
